header
  div(class="lg:max-w-[1366px] flex justify-between items-center relative mt-[19px] lg:mx-auto px-2.5 md:px-[33px] lg:px-0")
    h1
      img(class="h-[66px] md:h-[130px] lg:h-[100px] xl:h-[130px]", src="assets/img/logo.png", alt='')
    img(id="menu-btn", class="w-[25px] md:w-[60px] lg:hidden mr-[15px] md:mr-[29px]", src="assets/img/icon-menu.png", alt='')
    div(id="menu", class="w-full lg:w-auto hidden lg:flex bg-white absolute lg:relative top-full left-0 z-10 pt-10 md:pt-[45px] lg:pt-0 pb-[60px] lg:pb-0 md:pb-[75px] shadow-xl lg:shadow-none")
      ul(class="lg:flex space-y-10 lg:space-y-0 lg:space-x-3 text-center text-xs text-font-gray md:text-lg")
        li(class="group lg:px-6 relative text-main-blue")
          a(class="hover:border-b-2 px-4 py-2" href="about.html") 關於華峰
          ul(class="hidden group-hover:block w-full absolute top-full left-0")
            li(class="px-4 py-3")
              a(class="text-font-gray" href="about.html#idea") 公司理念
            li(class="px-4 py-3")
              a(class="text-font-gray" href="about.html#team") 公司團隊
            li(class="px-4 py-3")
              a(class="text-font-gray" href="about.html#service") 服務項目
        li(class="lg:px-6")
          a(class="px-4 py-2" href="case.html") 線上建案
        li(class="lg:px-6")
          a(class="px-4 py-2" href="history.html") 作品鑑賞
        li(class="lg:px-6")
          a(class="px-4 py-2" href="contact.html") 線上徵才