header
  div(class="lg:max-w-[1366px] flex justify-between items-center relative mt-[19px] lg:mx-auto px-2.5 md:px-[33px] lg:px-0")
    h1
      a(href="/")
        img(class="h-[66px] md:h-[130px] lg:h-[100px]", src="assets/img/logo.png", alt='')
    img(id="menu-btn", class="w-[25px] md:w-[60px] lg:hidden mr-[15px] md:mr-[29px]", src="assets/img/icon-menu.png", alt='')
    div(id="menu", class="w-full lg:w-auto hidden lg:flex bg-white absolute lg:relative top-full left-0 z-10 pt-[85px] md:pt-[45px] lg:pt-0 pb-[60px] lg:pb-0 md:pb-[75px] shadow-xl lg:shadow-none")
      ul(class="lg:flex space-y-[90px] lg:space-y-0 lg:space-x-3 text-center text-xs text-font-gray md:text-lg mb-[100px] lg:mb-0")
        li(class="menu-item group cursor-pointer lg:px-6 relative")
          a(class="text-lg border-b-2 border-transparent lg:group-hover:border-b-2 lg:group-hover:border-main-blue lg:px-4 py-2.5 lg:py-2") 關於華峰
          ul(class="hidden lg:group-hover:block w-full space-y-5 lg:space-y-10 pt-[30px] pb-10 lg:py-10 lg:bg-gradient-to-b lg:from-white lg:to-menu-grdient-gray lg:absolute top-full left-0")
            li(class="")
              a(class="text-font-gray" href="about.html#idea") 公司理念
            li(class="")
              a(class="text-font-gray" href="about.html#team") 公司團隊
            li(class="")
              a(class="text-font-gray" href="about.html#service") 服務項目
        li(class="menu-item group cursor-pointer lg:px-6 relative")
          a(class="text-lg border-b-2 border-transparent lg:group-hover:border-b-2 lg:group-hover:border-main-blue lg:px-4 py-2.5 lg:py-2") 作品鑑賞
          ul(class="hidden lg:group-hover:block w-full space-y-5 lg:space-y-10 pt-[30px] pb-10 lg:py-10 lg:bg-gradient-to-b lg:from-white lg:to-menu-grdient-gray lg:absolute top-full left-0")
            li(class="")
              a(class="text-font-gray" href="case.html") 線上建案
            li(class="")
              a(class="text-font-gray" href="history.html") 歷史建案
            li(class="")
              a(class="text-font-gray" href="progress.html") 工程進度
            li(class="")
              a(class="text-font-gray" href="notice.html") 預告建案
        li(class="lg:px-6")
          a(class="text-lg lg:px-4 py-2.5 lg:py-2" href="contact.html") 線上徵才
      div(class="flex lg:hidden justify-center space-x-[18px] md:space-x-[22px]")
        img(src="assets/img/fb-icon.png", alt="")
        img(src="assets/img/line-icon.png", alt="")