// Slider main container
div(class="swiper swiper-build")
  // Additional required wrapper
  div(class="swiper-wrapper")
    // Slides
    .swiper-slide
      div(class="relative")
        img(src="assets/img/build-pic01.png", alt='')
        span(class="text-xs md:text-sm text-white text-center absolute left-0 right-0 bottom-0") 峰匯建設股東 SKLF昭和力福集團<br>富邦新市政帷幕工程業績
    .swiper-slide
      div(class="relative")
        img(src="assets/img/build-pic01.png", alt='')
        span(class="text-xs md:text-sm text-white text-center absolute left-0 right-0 bottom-0") 峰匯建設股東 SKLF昭和力福集團<br>富邦新市政帷幕工程業績
    .swiper-slide
      div(class="relative")
        img(src="assets/img/build-pic01.png", alt='')
        span(class="text-xs md:text-sm text-white text-center absolute left-0 right-0 bottom-0") 峰匯建設股東 SKLF昭和力福集團<br>富邦新市政帷幕工程業績