div(class="lg:w-full bg-[url('../img/team-bg.png')] bg-repeat py-[15px] md:py-[75px]")
  div(class="px-[29px] md:px-[70px] lg:px-[60px]")
    div(class="lg:max-w-[1140px] grid grid-cols-5 lg:mx-auto")
      div(data-aos="zoom-in")
        picture
          source(media="(min-width: 768px)", srcset="assets/img/team_word_768_1.png")
          img(src="assets/img/team_word_1.png", alt="")
      div
      div(data-aos="zoom-in", data-aos-delay="600")
        img(src="assets/img/team-build_1.png", alt="")
      div(data-aos="zoom-in")
        picture
          source(media="(min-width: 768px)", srcset="assets/img/team_word_768_2.png")
          img(src="assets/img/team_word_2.png", alt="")
      div
      div
      div(data-aos="zoom-in", data-aos-delay="600")
        img(src="assets/img/team-build_2.png", alt="")
      div(data-aos="zoom-in")
        picture
          source(media="(min-width: 768px)", srcset="assets/img/team_word_768_3.png")
          img(src="assets/img/team_word_3.png", alt="")
      div
      div(data-aos="zoom-in", data-aos-delay="300")
        picture
          source(media="(min-width: 768px)", srcset="assets/img/team_word_768_4.png")
          img(src="assets/img/team_word_4.png", alt="")
      div(data-aos="zoom-in", data-aos-delay="900")
        img(src="assets/img/team-build_3.png", alt="")
      div(data-aos="zoom-in", data-aos-delay="300")
        picture
          source(media="(min-width: 768px)", srcset="assets/img/team_word_768_5.png")
          img(src="assets/img/team_word_5.png", alt="")
      div
      div(data-aos="zoom-in", data-aos-delay="300")
        a(href="http://www.sklf.co", target="_blank")
          picture
            source(media="(min-width: 768px)", srcset="assets/img/team_word_768_6.png")
            img(src="assets/img/team_word_6.png", alt="")
      div(data-aos="zoom-in", data-aos-delay="900")
        img(src="assets/img/team-build_5.png", alt="")