extends ../layout/main

block head
  link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")

block variables
  - var title = '華峰建設';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  div(class="px-[30px] md:px-[70px] lg:px-0 mt-[52px] md:mt-[135px] mb-[110px] md:mb-[180px] lg:mb-80 -mx-4")
    div(class="lg:max-w-[1366px] w-full flex justify-center items-center lg:mx-auto mb-[42px] md:mb-[112px] lg:mb-[121px]")
      div(class="flex flex-col justify-center items-center leading-none")
        h3(class="title-underline text-font-gray text-lg md:text-[35px] mb-2.5 md:mb-[22px] lg:mb-[22px] md:pb-7") ABOUT US
        span(class="text-subtitle-gray text-[15px] md:text-[28px] md:leading-none lg:mb-5") 關於華峰
    div(class="lg:max-w-[1366px] lg:w-full lg:mx-auto mb-[76px] md:mb-[170px] lg:mb-[215px] lg:px-4")
      div(class="grid grid-cols-2 lg:grid-cols-4 gap-x-[18px] md:gap-x-[46px] gap-y-5 justify-items-center")
        img(class="max-w-[306px] w-full object-cover", src="assets/img/about-pic01.png", alt="")
        img(class="max-w-[306px] w-full object-cover", src="assets/img/about-pic02.png", alt="")
        img(class="max-w-[306px] w-full object-cover", src="assets/img/about-pic03.png", alt="")
        img(class="max-w-[306px] w-full object-cover", src="assets/img/about-pic04.png", alt="")
    div(class="lg:w-full flex flex-col items-center text-center bg-[url('../img/about-bg.png')] bg-cover -mx-[30px] md:-mx-[70px] lg:mx-auto py-10 md:pt-32 md:pb-[90px] lg:py-40")
      div(class="lg:max-w-[1366px] w-full flex justify-center items-center lg:mx-auto mb-[42px] md:mb-[80px] lg:mb-[95px]")
        div(class="flex flex-col justify-center items-center leading-none")
          h3(class="title-underline text-white text-lg md:text-[35px] mb-2.5 md:mb-[22px] lg:mb-[22px] md:pb-7") INTRODUCTION
          span(class="text-white text-[15px] md:text-[28px] md:leading-none lg:mb-5") 公司簡介
      p(class="text-white px-[30px] md:px-[70px] leading-[26pmd lg:leading-[63px] md:leading-[46px]")
        |華峰建設開發（股）公司，成立於民國101年12月
        span(class="md:block")
        |由一群志同道合、崇尚自然人文風格的専業建築人共同經營的新創公司，
        span(class="md:block")
        |以投資興建集合式住宅、商業辦公大樓、都市更新規劃及土地開發........
        span(class="md:block")
        |等相關服務為主要業務。
        span(class="md:block")
        |成立迄今，公司始終秉持著『品質為根•永續為本』的經營理念，堅持貫徹人
        span(class="md:block")
        |與建築、人與環境的自然親密結合，選擇最佳土地，注入永績信念，在建築、
        span(class="md:block")
        |環境與人之間，尋求最美好的生活脈絡。
    div(id="idea" class="w-full flex flex-col items-center py-20 md:pt-[235px] md:pb-[215px] lg:pt-60 lg:pb-72")
      div(class="lg:max-w-[1366px] w-full flex justify-center items-center lg:mx-auto mb-[47px] md:mb-[150px] lg:mb-[148px]")
        div(class="flex flex-col justify-center items-center leading-none")
          h3(class="title-underline text-font-gray text-lg md:text-[35px] mb-2.5 md:mb-[22px] lg:mb-[22px] md:pb-7") BUSINESS CONCEPT
          span(class="text-subtitle-gray text-[15px] md:text-[28px] md:leading-none lg:mb-5") 經營理念
      div(class="lg:max-w-[1366px] grid lg:grid-cols-[1fr_2fr] xl:grid-cols-[1fr_minmax(730px,1fr)] lg:gap-[100px] lg:mx-auto lg:px-4")
        p(class="mb-11 md:mb-[112px] lg:mb-0 text-xs lg:text-[23px] leading-6 lg:leading-[53px]")
          span(class="block text-base lg:text-[32px] lg:leading-[47px] text-center lg:text-left mb-[33px] md:mb-[70px]")
            |創造幸福空間
            br
            |是我們最大的使命
          |毎一幢房子對我們來說都是具有溫度與能量的有機體，現代人的生活體驗環繞建築而生，因此我們更用心「起厝」，除了帶給客戶一流的居住品質，更肩負起點綴城市風采的社會責任。
          br
          br
          |我們以「不只把房子蓋好而已」期勉自己，規劃經營與服務皆以滿足人性需求出發，融合都市裡的自然生態與建築空間，佐以美學人文內涵為調料提升整體的社區營造，關懷人與土地之間的情誼關係，使顧客能夠輕易感覺到家的真正意義，一個充滿幸福的地方。
        //- div(class="flex flex-col")
        div(class="grid grid-cols-2 gap-[3px] md:gap-1.5 lg:gap-2")
          //- img(class="object-cover mb-[3px]", src="assets/img/about-pic05.png", alt="")
          //- div(class="grid grid-cols-2 space-x-[3px]")
          //-   img(class="object-cover", src="assets/img/about-pic06.png", alt="")
          //-   img(class="object-cover", src="assets/img/about-pic07.png", alt="")
          img(class="lg:h-full col-span-2 object-cover", src="assets/img/about-pic05.png", alt="")
          //- div(class="grid grid-cols-2 space-x-[3px]")
          img(class="object-cover", src="assets/img/about-pic06.png", alt="")
          img(class="object-cover", src="assets/img/about-pic07.png", alt="")

    div(id="team" class="flex flex-col items-center mb-[60px] md:mb-[64px] lg:mb-[145px] -mx-[30px] md:-mx-[70px] lg:mx-0")
      div(class="lg:w-full px-[29px] md:px-[70px] lg:px-[60px]")
        div(class="lg:max-w-[1366px] w-full flex justify-center items-center lg:mx-auto mb-[35px] md:mb-[55px] lg:mb-[100px]")
          div(class="flex flex-col justify-center items-center leading-none")
            h3(class="title-underline text-font-gray text-lg md:text-[35px] mb-2.5 md:mb-[22px] lg:mb-[22px] md:pb-7") RELATED COMPANY
            span(class="text-subtitle-gray text-[15px] md:text-[28px] md:leading-none lg:mb-5") 華豐團隊
      include ../includes/modules/team
    div(class="lg:max-w-[1366px] -mx-[30px] mb-20 md:mb-[246px] lg:mb-72 lg:mx-auto px-[29px] md:px-[70px] lg:px-4")
      include ../includes/modules/slider
    div(id="service" class="w-full flex flex-col items-center")
      div(class="lg:max-w-[1366px] w-full flex justify-center items-center lg:mx-auto mb-[50px] md:mb-[116px] lg:mb-[170px]")
        div(class="flex flex-col justify-center items-center leading-none")
          h3(class="title-underline text-font-gray text-lg md:text-[35px] mb-2.5 md:mb-[22px] lg:mb-[22px] md:pb-7") SERVICE ITEM
          span(class="text-subtitle-gray text-[15px] md:text-[28px] md:leading-none lg:mb-5") 服務項目
      div(class="lg:max-w-[1366px] w-full text-xs md:text-[23px] lg:mx-auto lg:px-4")
        div(class="space-y-7 md:space-y-[70px]")
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 土地開發
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 建設必須要有原料，而土地就是建設的原料
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 獲取土地資訊並判斷分析土地價值，透過談判、訂約取得土地。
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 產品規劃
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 藉由專業團隊的創意及巧思，將土地這個美好的原料轉而創造成舒適與安全的居住幸福空間。
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 階段工作：產品定位、市場區隔分析、產品規劃設計、建照申請。
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 信託服務
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full")
                |信託服務流程：
                ul(class="list-decimal pl-3.5")
                  li 地主、建商雙方簽訂「合建契約」完成
                  li 地主、建商、銀行…等三方簽訂「信託契約」完成。（信託契約保障內容:土地產權、資金管理與起造人信託。）
                  li 工程實施階段，銀行可確保已購戸巳繳價金可專款專用，提供金流服務。
                  li 興建完成後，信託銀行進行房地分配完成後，信託關係结束。
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 房屋預售
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 委由專業銷告團隊進行產品包裝、廣告宣傳、行銷企劃與銷售。
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 營造管理
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 施工品質是我們的不二堅持，施工監造皆由專案管理單位執行，讓顧客輕鬆享受完工後交屋的喜悦。
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 創新的工務整合，工程顧問在設計階段的參與，貢獻其施工經驗與技術，施工之遭遇問題回饋至設計上，故設計者對施工可行性有更正的判斷。
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 整合項目:營造承包、結構設計、建築設計、機電設計、燈光設計，景觀設計等工種以營造優質施工品質及制造最大成本效益。
          div(class="lg:flex lg:items-center lg:space-x-[68px] border-b border-subtitle-gray px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 物業管理
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 物業管理是物業的一種增值服務。協助建商與屋主在交屋期到管理委員會成立後各個階段，都能獲得專業妥善的物業服務。
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 物業管理除了提供建築物內勞務與服務外，更可延續建物生命與使用的基本需求外，更可藉由營運管理增加社區收入，以提升不動產與土地的價值。
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 物業服務項目包括:警衛保全、清潔勞務及設備設施類如電力、空調、升降機、給排水、安全系統等維護、修理、保養等三大類
          div(class="lg:flex lg:items-center lg:space-x-[68px] px-4 pb-7 md:pb-[70px] last:pb-0")
            div(class="md:text-[32px] md:leading-none text-center text-border-blue mb-[15px] md:mb-[35px] lg:mb-0 whitespace-nowrap") 售後服務
            div(class="leading-[26px] md:leading-[63px]")
              div(class="relative pl-3.5 md:pl-[30px] lg:pl-[33px] before:absolute before:top-[5px]  lg:before:top-[25px] before:left-0 before:w-[6px] md:before:w-[13px] before:h-[6px] md:before:h-[13px] before:bg-border-blue before:rounded-full") 完善交屋服務，包括專屬交屋手冊、售後服務卡、24小時內通報售後專責人員服務機制等，並進行客戶服務滿意度調查，讓住戶對建商的售後服務更信任。同時以同理心，在房屋成交後仍持續關心客戶居家狀況與社區管理維護，建立更優質的服務口碑與公司口牌。


      //- div(class="text-xs md:text-[23px] leading-[30px] md:leading-[71px]")
      //-   p
      //-     |2006年，當別人習慣用利益去看待建築時，
      //-     span(class="lg:block") 我們以「感情、熱誠」成立了華峰建設。
      //-   br
      //-   p
      //-     |我們以「不只是把房子蓋好而已」期勉自己，
      //-     span(class="lg:block") 作為「家」的住宅，
      //-     span(class="lg:block") 不是找一塊地，用四面水泥牆圍起來的建築方格。
      //-     span(class="lg:block") 而是提供安心生活、分享喜悅的情感交流空間。
      //-   br
      //-   p
      //-     |規劃、經營與服務皆以滿足人性需求出發，
      //-     span(class="lg:block") 從公共空間進入室內、人與環境緊密的互動，
      //-     span(class="lg:block") 為這座城市寫下豐富的建築歷史。


block script
  script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
  script(type='text/javascript').
    AOS.init();
    const swiperBuild = new Swiper('.swiper-build', {
      slidesPerView: 1.2,
      spaceBetween: 8,
      loop: true,
      autoplay: true,
      breakpoints: {
        768: {
          spaceBetween: 20
        },
        1024: {
          slidesPerView: 2.5,
          spaceBetween: 20
        }
      }
    });