extends ../layout/main

block head
  link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")

block variables
  - var title = '華峰建設';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  div(class="lg:max-w-[1366px] flex flex-col items-center lg:items-start px-[60px] md:px-[144px] lg:px-0 mt-[52px] md:mt-[135px] mb-[55px] md:mb-[135px] lg:mb-[220px] lg:mx-auto")
    div(class="lg:w-full lg:flex lg:justify-between lg:items-center mb-[36px] md:mb-[86px] lg:mb-[95px]")
      div(class="flex flex-col lg:flex-row items-center leading-none")
        h3(class="text-font-gray text-[15px] md:text-[35px] border-b-[2.5px] md:border-b-[6px] border-main-blue mb-[13px] md:mb-8 lg:mr-10 lg:mb-0 pb-[9px] md:pb-6") 線上建案
        span(class="text-subtitle-gray text-xs md:text-[25px] md:leading-none lg:mb-5") Hot Case
    div(id="tab", class="grid lg:flex grid-cols-2 gap-y-[13px] md:gap-y-7 text-xs md:text-[23px] leading-none mb-[33px] md:mb-[82px] lg:mb-[93px] lg:-mx-5")
      - var tabList = ['華峰雙子星', '華峰上水', '華峰福華', '萬大境']
      each item, index in tabList
          div(class=`${index===0?'text-main-blue':''}`, class="tab-inner odd:border-r lg:border-r lg:last:border-0 border-font-gray odd:text-right px-5 cursor-pointer tab-item")=item
    div(id="tab-inner", class="lg:w-full")
      each item, index in ['華峰雙子星', '華峰上水', '華峰福華', '萬大境']
        div(class=`${index !== 0 ? 'hidden':''}` class="tab-content")
          div(class="lg:grid lg:grid-cols-2 lg:gap-x-[124px]")
            img(class="lg:max-w-[700px] mb-[45px] md:mb-[105px]", src="assets/img/build-pic.png", alt="")
            div
              div(class="flex items-center mb-[18px] md:mb-[52px]")
                h3(class="text-[15px] md:text-[38px] leading-none mr-4 md:mr-[35px]")=item
                a(href="case.html" class="w-20 md:w-[165px] inline-block text-xs md:text-[23px] md:leading-tight text-main-blue text-center py-[6.5px] md:py-[13px] border border-main-blue rounded") 工程進度
              ul(class="text-xs md:text-[23px] leading-[27px] md:leading-[59px]")
                li(class="border-t border-b")
                  span(class="mr-5") 投資興建
                  |峰禾建設開發股份有限公司
                li(class="border-b")
                  span(class="mr-5") 基地位置
                  |台北市萬華區西園路二段261巷
                li(class="border-b")
                  span(class="mr-5") 基地面積
                  |309坪
                li(class="border-b")
                  span(class="mr-5") 使用分區
                  |第三種住宅區
                li(class="border-b")
                  span(class="mr-5") 興建樓層
                  |14F/B2F
                li(class="border-b")
                  span(class="mr-5") 建築結構
                  |RC結構
                li(class="border-b")
                  span(class="mr-5") 規劃戶數
                  |56戶/49個汽車位
                li(class="border-b")
                  span(class="mr-5") 坪數規劃
                  |
                li(class="border-b")
                  span(class="mr-5") 建築設計
                  |賴恩常建築師事務所
                li(class="border-b")
                  span(class="mr-5") 外觀設計
                  |賴恩常建築師事務所
                li(class="border-b")
                  span(class="mr-5") 結構設計
                  |洪沛甫 結構技師
                li(class="border-b")
                  span(class="mr-5") 公設設計
                  |洪國智 設計師
  div(class="lg:max-w-[1366px] w-full mb-10 md:mb-24 lg:mb-[126px] px-[29px] md:px-[70px] lg:mx-auto")
    // Slider main container
    div(class="swiper gallery-top mb-3")
      // Additional required wrapper
      div(class="swiper-wrapper")
        // Slides
        div(class="swiper-slide pb-[100%] lg:pb-[48.72%] bg-[url('../img/banner01.png')] bg-no-repeat bg-[#dfdfdf] bg-center bg-contain")
        div(class="swiper-slide pb-[100%] lg:pb-[48.72%] bg-[url('../img/banner02.png')] bg-no-repeat bg-[#dfdfdf] bg-center bg-contain")
        div(class="swiper-slide pb-[100%] lg:pb-[48.72%] bg-[url('../img/banner03.png')] bg-no-repeat bg-[#dfdfdf] bg-center bg-contain")
        div(class="swiper-slide pb-[100%] lg:pb-[48.72%] bg-[url('../img/banner01.png')] bg-no-repeat bg-[#dfdfdf] bg-center bg-contain")
        div(class="swiper-slide pb-[100%] lg:pb-[48.72%] bg-[url('../img/banner03.png')] bg-no-repeat bg-[#dfdfdf] bg-center bg-contain")
    div(class="swiper gallery-thumbs")
      // Additional required wrapper
      div(class="swiper-wrapper")
        // Slides
        div(class="swiper-slide")
          div(class="w-full pb-[100%] bg-[url('../img/banner01.png')] bg-center bg-cover")
        div(class="swiper-slide")
          div(class="w-full pb-[100%] bg-[url('../img/banner02.png')] bg-center bg-cover")
        div(class="swiper-slide")
          div(class="w-full pb-[100%] bg-[url('../img/banner03.png')] bg-center bg-cover")
        div(class="swiper-slide")
          div(class="w-full pb-[100%] bg-[url('../img/banner01.png')] bg-center bg-cover")
        div(class="swiper-slide")
          div(class="w-full pb-[100%] bg-[url('../img/banner03.png')] bg-center bg-cover")
  div(class="flex justify-center space-x-[45px] mb-[90px] md:mb-[196px]")
    a(href="case.html" class="w-20 md:w-[165px] inline-block text-xs md:text-[23px] md:leading-tight text-main-blue text-center py-[6.5px] md:py-[13px] border border-main-blue rounded") 預約專案
    a(href="case.html" class="w-20 md:w-[165px] inline-block text-xs md:text-[23px] md:leading-tight bg-main-blue text-white text-center py-[6.5px] md:py-[13px] border border-main-blue rounded") 個案官網


block script
  script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
  script.
    const tabItem = document.getElementById('tab').querySelectorAll('.tab-item')
    const tabContents = document.getElementById('tab-inner').querySelectorAll('.tab-content')
    const panelDisplay = (activePanel) => {
      for(let i = 0;i < tabItem.length;i++) {
        if(tabItem[i] === activePanel){
          tabItem[i].classList.add("text-main-blue");
          tabContents[i].classList.remove('hidden')
        }else {
          tabItem[i].classList.remove("text-main-blue");
          tabContents[i].classList.add('hidden')
        }
      }
    }
    tabItem.forEach(function(item){
      item.addEventListener('click', function(e) {
        e.preventDefault();
        panelDisplay(this);
      })
    })

    const galleryThumbs = new Swiper('.gallery-thumbs', {
      slidesPerView: 4,
      spaceBetween: 5,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      watchOverflow: true,
      breakpoints: {
        768: {
          spaceBetween: 12,
        },
        1024: {
          spaceBetween: 30,
        }
      }
    });

    const galleryTop = new Swiper('.gallery-top', {
      thumbs: {
        swiper: galleryThumbs
      }
    });
    galleryTop.on("slideChangeTransitionStart", function () {
      galleryThumbs.slideTo(galleryTop.activeIndex);
    });
    galleryThumbs.on("transitionStart", function () {
      galleryTop.slideTo(galleryThumbs.activeIndex);
    });
