extends ../layout/main

block head
  link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")

block variables
  - var title = '華峰建設';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  div(class="lg:max-w-[1140px] flex flex-col items-center lg:items-start px-[45px] md:px-[110px] lg:px-0 mt-[52px] md:mt-[135px] mb-[90px] md:mb-[196px] lg:mb-[220px] lg:mx-auto")
    div(class="lg:w-full lg:flex lg:justify-between lg:items-center mb-[36px] md:mb-[113px] lg:mb-[95px]")
      div(class="flex flex-col lg:flex-row items-center leading-none")
        h3(class="text-font-gray text-[15px] md:text-[35px] border-b-[2.5px] md:border-b-[6px] border-main-blue mb-[13px] md:mb-8 lg:mr-10 lg:mb-0 pb-[9px] md:pb-6") 團隊業績
        span(class="text-subtitle-gray text-xs md:text-[25px] md:leading-none lg:mb-5") Team Performance
    div(class="lg:max-w-[1140px] grid grid-cols-2 lg:grid-cols-4 gap-x-5 md:gap-x-[50px] lg:gap-x-[60px] gap-y-12 md:gap-y-[116px] lg:gap-y-[145px]")
      each item in [1, 2, 3, 4]
        a(href="history-read.html")
          div(class="mb-2.5 md:mb-[25px] lg:mb-[34px]")
            img(src="assets/img/build-pic.png", alt="")
          p(class="text-font-gray text-center text-xs md:text-[25px] md:leading-tight") 2021 | 華峰雙子星
